/* For Coding Quiz */
.paratest{
    background-color: red;
}
.options{
    background-color: royalblue;
    display: flex;
    justify-content: space-between;
    width: 70vw;
}
.colortest{
    color: silver;
}
.hide{
    opacity: 0;
}
.show{
    opacity: 100;
    display: block;
    position: absolute;
    left: 15vw;
    top: 75px;
    width: 70vw;
    margin: auto;
}
.choice{
    background-color: lawngreen;
    height: 20px;
    width: 20px;
    border-radius: 50%;

}
.timetest{
    opacity: 100;
    display: block;
    position: absolute;
    left: 35vw;
    top: 75px;
    width: 40vw;
    margin: auto;
}
.start{
    height: 50px;
    width: 150px;
    font-size: 30px;
    border: black 3px solid;
}
.startCountDown{
    opacity: 100;
    display: block;
    position: absolute;
    left: 50vw;
    top: 75px;
    width: 40vw;
    margin: auto;
}
.answers{
    display: flex;
    justify-content: inline-flex;
    align-items: center;
}